body {
	background-color: #6b78d6;
}

footer{
	display: block;
}

.main_page_footer{
	padding-top: 30px;
	padding-bottom: 20px;
}

.wrapper{
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}

.main_page{
	display: block;
	padding-bottom: 60px;
}

.header_bar{
	background-color: #757ba1;
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;
}

.header_bar_suitacase{
	display: table;
    table-layout: fixed;
    width: 100%;
}

.header_bar_left{
	text-align: left;
	display: table-cell;
    vertical-align: middle;
    float: none;
}

.header_bar_right{
	display: table-cell;
    vertical-align: middle;
    float: none;
}

.header_bar_cart{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
}

.cart-but{
	display: inline-block;
	color: black;
	text-decoration: none;
}

.cart-icon{
	font-size: 1.2em;
	margin-right: 4px;
}

.cart-count{
	display: inline-block;
    border-radius: 3px;
    background-color: white;
    color: black;
    line-height: 1;
    font-size: 1.1em;
    padding: 5px 10px;
    margin-left: 4px;
}

.header_bar_search{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
    max-width: 160px;
    margin-left: 20px;
    position: relative;
    background-color: #fff;
    border: 0 none;
    border-radius: 3px;
    min-width: 100px;
}

.header_bar_search_form{
	margin-bottom: 0px;
}

.header_bar_search_input{
	display: block;
    width: 80%;
    float: right;
    padding: 5px 0;
    border: none;
}

.header_bar_search_btn{
	display: block;
    float: left;
    font-size: 16px;
    padding: 4px 0;
    padding-top: 10px;
    color: black;
    width: 20%;
    margin: 0;
    border: none;
    overflow: visible;
    background-color: transparent;
}