header .header-bar {
    font-size: 1.07692em;
    background-color: #324f2f;
    color: black;
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;
}

body {
    margin: 0px;
}

.header-bar-search {
    position: absolute;
    left: 83%;
    bottom: 0%;
    top: 17%;
}

.header-bar-cart{
    position: absolute;
    left: 80%;
    top: 23%;

}






