header .header-bar {
    font-size: 1.07692em;
    background-color: #324f2f;
    color: black;
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;
}

body {
    position: relative;
    margin: 0px;
    background-color: #859164;
}

.header-bar-search {
    position: absolute;
    left: 83%;
    bottom: 0%;
    top: 17%;
}

.header-bar-cart{
    position: absolute;
    left: 80%;
    top: 23%;
}

.main-cassette .main-cassette-img img{
    width: 300px;
}

.main-cassette {
    position: absolute;
    left: 80%;
}

.main-name {
    position: absolute;
    left: 10%;
}

.main-name span h1 {
    font-style: oblique;
}

.main-middle-menu {
    position: absolute;
    top: 600%;
}

.main-middle-menu .main-middle-menu-wrapper .main-middle-menu-list li{
    margin: 0;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-middle-menu-list li{
    margin: 0;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.main-middle-menu-list li a{
    color: #000;
    text-decoration: none;
    text-align: center;
    min-width: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

a .active{
    color: #827232;
    background: #9aa874;
}

.main-middle-menu-wrapper {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 50px;
}

nav .main-middle-menu ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}

.main-middle-menu {
    margin-bottom: 20px;
    border-top: 1px solid #b6c787;
    border-bottom: 1px solid #b6c787;
    width: 100%;
    text-align: center;
}
