body {
	background-color: #6b78d6;
}


.main_page_footer{
	/*display: block;*/
	background-color: #757ba1;
	/*height: 100px;*/
    display: flex;
    /*align-items: center;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    padding: 2% 5%;*/
    flex-direction: column;
}

footer {
	margin-top: auto;
}

.wrapper{
	max-width: 1430px;
	/*margin: 0 auto;*/
	padding: 0 15px;
	margin-right: 15px;
}

.main_page{
	display: block;
	padding-bottom: 60px;
}

.header_bar{
	background-color: #757ba1;
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;
}

.header_bar_suitacase{
	display: table;
    table-layout: fixed;
    width: 100%;
}

.header_bar_left{
	text-align: left;
	display: table-cell;
    vertical-align: middle;
    float: none;
}

.header_bar_right{
	display: inline-flex;
    padding-top: 25px;
    vertical-align: middle;
    float: none;
}

.header_bar_cart{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
}

.cart-but{
	display: inline-block;
	color: black;
	text-decoration: none;
}

.cart-icon{
	font-size: 1.2em;
	margin-right: 4px;
}

.cart-count{
	display: inline-block;
    border-radius: 3px;
    background-color: white;
    color: black;
    line-height: 1;
    font-size: 1.1em;
    padding: 5px 10px;
    margin-left: 4px;
}

.header_bar_search{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 160px;
    margin-left: 20px;
    position: relative;
    background-color: #fff;
    border: 0 none;
    border-radius: 5px;
}

.header_bar_search_form{
	margin-bottom: 0px;
}

.header_bar_search_input{
	display: block;
    width: 80%;
    float: right;
    padding: 5px 0;
    border: none;
}

.header_bar_search_btn{
	display: block;
    float: left;
    font-size: 16px;
    padding: 4px 0;
    padding-top: 10px;
    color: black;
    width: 20%;
    margin: 0;
    border: none;
    overflow: visible;
    background-color: transparent;
}

.main-list-cassettes-container{
    display: grid;
    grip-gap: 45px;
    /*grid-template-columns: 275px 275px 275px 275px 275px;*/
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    max-width: 1400px;
    margin: var(--spacing-large) auto;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-list-cassettes-element{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background: #757ba1;
}


.main-list-cassettes-element-name{
    margin-bottom: auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.main-list-cassettes-element-img{
    width: 100%;
    height: 270px;
    margin-top: var(--spacing-medium);
    object-fit: contain;
}

.main-list-cassettes-element-price{
    margin-top: var(--spacing-medium);
    color: var(--color-unaccent);
    text-align: center;
}

.main-list-cassettes-element-btn{
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    background-color: white;
    font-family: inherit;
    font-size: inherit;
}

.main-list-cassettes-element-btn-active{
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
}

.header_bar_ul{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none outside;
}

.header_bar_ul li{
	margin: 0;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_bar_ul li a{
	text-align: center;
    min-width: 50px;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.popup-bg {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    background: #757ba1;
    height: 550px;
    width: 1400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 30px;
    display: grid-template-columns;
}

.popup .info .cover_win{
    width: 250px;
    padding: 10px 10px 10px 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.info span {
    padding: 10px 10px 10px 10px;
}

.alb {
    display: grid;
    grid-template-columns: 430px 300px;
}

.track{
    list-style: none;
    margin-bottom: 0.5em;
}

.beg_tracks{
    padding-left: 35px;
    font-weight: bold;
}

.name_win{
    font-weight: bold;
}

.group_win{
    font-weight: bold;
}

.addit_info{
    display: grid;
    grid-template-columns: 570px 334px;
}

.alb_img{
    width: 350px;
}

.dvd_track{
    list-style: none;
    margin-bottom: 0.1em;
}

.popup .info .dvd_cover_win{
    width: 350px;
    padding: 10px 10px 10px 10px;
}

.dvd_alb_img{
    width: 450px;
}

#dvd_info{
    padding-left: 50px;
}

#dvd_addit_info{
    display: grid;
    grid-template-columns: 470px 300px;
}

main .authorization {
    max-width: 300px;
    padding-top: 130px;
    padding-bottom: 185px;
    margin: auto;
    border-radius: 5px;
    /*border-radius: 5px 5px 0 0; */
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

main .admin_tool {
    max-width: 300px;
    padding-top: 130px;
    padding-bottom: 115px;
    margin: auto;
    border-radius: 5px;
    /*border-radius: 5px 5px 0 0; */
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

main .admin_tool p {
    padding-left: 40px;  
    padding-bottom: 0px;
    font-size:20px;
}

main .authorization p {
    padding-left: 40px;  
    padding-bottom: 0px;
    font-size:20px;
}

main .authorization .input_login {
    font-family: Ubuntu;
    margin: 10px; 
    font-size:18px;
    padding: 5px;
    padding-right : 60px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

input{
    text-align: center;
}

.logo {
    width: 80px;
}

.li_logo{
    vertical-align: middle;
}

.header_quit a{
    text-decoration: none;
}

.header_quit{
    padding-top: 5px;
    padding-right: 15px;
}

.mod_header_quit{
    padding-top: 25px;
    padding-right: 15px;
}

.mod_tool{
    padding-top: 20px;
    padding-left: 20px;
}

.mod_fields{
    display: flex;
    flex-direction: row;
    max-width: 650px;
    padding-top: 15px;
    padding-left: 15px;
}

.mod_field{
    margin-left: auto;
}

.mod_text_field{
    display: flex;
    flex-direction: column;
}

.mod_inputs_field{
    margin-left: 35px;
    display: flex;
    flex-direction: column;   
}

.mod_input{
    font-size: 14px;
    padding-top: 1px;
}

#mod_do_button{
    margin-left: 180px;
    margin-top: 36px;
}